<div class="main-grid">
    <div class="tree-map" id="chart">
    </div>
    <div class="details">
        <h2>Host Details</h2>
        <h3 class="selected-status">Click on an area to see the list</h3>
        <div class="host-list"></div>
    </div>
</div>
